div {
    margin: 20px;
}

.mathForm {
    width: 250px;
}

.numInput {
    text-align: right;
}

.answer { 
    text-align: right;
    background-color: lightgrey; 
}

.answer span {
    margin: 2px;
    padding: 3px;
}

.operators, .submit {
    text-align: right;
}